.submission
  .submission_field
    Name: #{@submission.name}
    %br
  .submission_field
    Email: #{@submission.email}
    %br
  .submission_field
    Principal Investigator: #{@submission.principal_investigator}
    %br
  .submission_field
    Department: #{@submission.department}
    %br
  .submission_field
    Phone Number: #{@submission.phone_number}
    %br
  .submission_field
    Sample Type: #{@submission.sample_type}
    %br
  .submission_field
    Number Of Samples: #{@submission.number_of_samples}
    %br
  .submission_field
    Sample Origin: #{@submission.sample_origin}
    %br
  .submission_field
    Submitted On: #{@submission.created_on}
    %br
